language: java
sudo: false
install: true
jdk:
  - openjdk10
before_install:
  - chmod a+x setup_arangodb.sh
  - "./setup_arangodb.sh"
script:
  - "./mvnw install -DskipTests=true -Dmaven.javadoc.skip=true -B -V"
  - "./mvnw test -B"
after_success:
  - docker login -u $DOCKER_USER -p $DOCKER_PASS
  - export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH ; fi`
  - docker build -t uzhlit/marugoto .
  - docker tag uzhlit/marugoto uzhlit/marugoto:$TAG
  - docker push $REPO
  - "./mvnw clean test org.jacoco:jacoco-maven-plugin:report org.eluder.coveralls:coveralls-maven-plugin:report"
env:
  global:
    - secure: prVCTC+6Mwz5m1GLjAUj9nTi4V7hXrjaVSVEFnwdJVH4ilaCXoYoD3r46yzv6MQG/7w+GF/T4fNteupKuDdALqlBZpoNVNTZmGFBQhQigqjpKRVWnKxkE3ay0tPC+txUq0a/8OzEGkU1ai44lHTOhWGY8dgUKxfp7YiXdN7PDfV+SekjNR9sfFLU5eU9Yv5tRYW14pwbrONu5Nu2rw1g6GAJDo/lORxkSAGYQUYoT5J5RBC5ItvFa74rLtD8CZrkYQsadfd4+Pub1mABVHUM4KIj/fPqfifk6j1Y19HmCMu5UzM3d97x2FBImePRQSJPHh8TQ5GjdwQ1QonF9M+qavxGqQGGoCUbotSQoJkKc6Y65PKzMAfjMzdzgP0+DlU/SrCKdVldJ/s4wrwuh4xxYg1DuxzZx7su0745gPRT3fV8wLhuvqaf11p4XlJg+z63vrIjil5kAu0A41Q6B86PfmCX35Vmdj3bPy9a8MUv2NJ/X/DCi6zB2vRpgGgvcaACRXAu8Si0w7Wbkm28OWO5X6LaKMCCfwC32Ti8y1PNPwJ5V2u1KrbN7VCCmAXGTp2AcuOY41mfV7CV324W8kzNzurjB1x+oeMWnelFCq+x5jt38e1NIUz9I84syu5Zkh2mzvF09VlM5bEJzhiJiIVIcg8dgduEQq02UN74Y5KBXJI=
    - secure: x6cJM+2d/ZlsmQr3ZeCsbGZQ562hLRtF8WlADY54vi1tiNNP3zFDrXw97wrzQyeMb/+RbLLq4baelcLV6X9ReHoKBc3OYBy/E/DRfduLCxCHUyrNDXzBl1tKph9tpZ6bZWSs0jbNWCPaLQDJLoGNX8NdZBi68py/0KrtR0nb06MVGCmufJhMIxgcIkmmAwdF2b0pILVTSkcWJzXa1PAh9FEcwLVKmI1fuTVRMdsJhCcVw5w/G4qetHd9iHKPsBYmKV/PGUkZZ1YuctY6P2PBay2TYxC1pWkjmi4/dVXYeZPQlHgvq+zGT95VHWoOG05pIm8WP3DXAL0s4c9bfePcoAsB/QgpILfHxu2kVEp3m9Awup/Qjf+UUMTAkW6pO/6JmyhHa7Sdn8JlpDueOQN3VZzpyFgW7rb4fx75XZRNh+VrTeYp33obfGS2zTKSuM5JrSNveojQ/QlA3YpsfKlszGKds/dpwQ8sfFoE5wEIhum9ew6WBqs5PuMH9uiLaV/oxbjRi6v6uEh60S1onculg8I8GxgD23xQo3/8oMzXnC42pQE1MlTd10mNpL72lnZDwxVzl57NHhlLphfcaOfzUK4mlHcHswovIykXakkIqjYm/mRGjmKD6/RAaJJ3haDHd1tmn89dGpXWqZX6Jtp04rHAohrbBlY2uK/K1BQp7rU=
    - secure: h/+UGliwcQo9sHHKVlrWKhvn+UuNNBGcnI/jaUCyi2H2fJELgxo2hran6zgB8neL8IBnsFgcL+FHtR87n4BV6abKq9W9UKKUEMjojchdO0/zgoknOH48++ZcXnmZbNBrpqpR2cFbrEIAD7FaKciEZipsE/9Jv1o/nDVICuiBdwkP8HPXdYYZlRRSSpNczpHzWap/OFD2iw74UlNBAc5vm3zzYvMrbEetreNjHoZcWOuZjnsb20fyAZvvJCz/mcfqfe4wHo9nWKlWl4XBK0umpD0/2UYNJ/7+M5jSY9Np9KmpritMnRxbJ/NMe+FNDjH+/tm6ZNaJvt4AQf8HWeFS+IUgvbymho12319MLzrMbhXgvZqSGbvGTu4qB5gIpMI1eu7o1SUsePmOU6fH+NKkdT3zH+mYSRf/N7bD85FVM+VMqCbDo4w3zH0geHzmQ4EkplGKoz882aQsNiCi4qThU/0fyJkofzqEQIk4NqBizCpWpkyDVKVkWY45kR0t9e8ZT1B6kfSmYdsrLwGJjeVJkHkGYRbRlbfeCK249r31KK/3YTYMdS2IGEgD+ZJZC+9RrV2QvtlunjRVS+Nzz3nW2kADXoYz1u7hfU2IW4sT7rZoaNa2PWd8gRPjusz0ky2PzAzqmxUw+7aeaVKmKwDQpONm1KkPRg3wpyb1tSadDqM=
deploy:
  provider: releases
  api_key:
    secure: OOf6dUTmmHm2AbqAiqpUVkG2ByFC8cnneLMDHbeirTs+oS4PTPO9jVc0sKKx9E6m4q/rjTg976t2F9j/xHfNJWaacq0u/tdbDHWHVI35sLGlYwovf1iPApGWtrmdL3dB7rL9lR57wrR4uPsYWOrmNO7C9x7vtX4UXtroecynUZkwRG1eXlO89hXW1PfIrKeSFyMzXipzG1o++2fQp4VKCF82yPz5gZ5lxl8VelZBfWTkTkrzvLDBhNN7tRwKlkULW90mmyxwFHnHtkkarbpithxSJlcsh0+oG4LYu1Irapf+TGUAEMEnZzxQqz2ZMIA6BcnydJwKno8zLWwtXLFXRd7XBHoO6mBfX3hxq8t6FS8U3/0CPJxCQSJQpMxQ5pvbzXEUbwZIE4IBwXdiJq2JZbbljoo/2hKmEOXXOxNkXTj1iOfZvDpscyCmfwkEkF25HTBROFmR7lL4DRAt/U4DejBD52iFmzJ+Sd09SG/ViTNDudTXaiVsUJpXh0ORqJyUu3hS0KerCPB2uX5QkU5disb6TLOkF5b63833kXghHrhC6i8QVcIL3lgnV+MRJSim8wjnsXkV4wAcUZtOs/+zzAaL5QVS/A0PPZuT4djKSZIEk4AHeK+nCcBW3lbH2v7xsGFNax0pTh/bBQQORcI6X4NKxaQNFWid549roS8jUYk=
  file: backend/target/backend-1.0-SNAPSHOT.war
  skip_cleanup: true
  name: marugoto - $(date +'%d.%m.%Y %R')
  on:
    repo: uzh/marugoto
    tags: true
notifications:
  slack:
    rooms:
      - secure: nPX5zHvsb84p85bQlB4yeiP28JMUd6Ku46XHONuL97LHU3gfcyC76AjEJA5roih0M0QnmDraaG2f4ZEAHK+1DJUhiCuY+fnerbQics3oBtkDBJU0WP8YbbiEuKOM+awhCONdqIqgzAKDga6Q1+aTqCsFU/q5Hnug6BUQ7psnE6nzjmNA0ILdj+3/1zWl7xmagiienKm3eTzyxCyI0ZcBYvhQV8pZAEwEzQdysmjLZeqnmhRKAmzSEnz+ZjTsUJyBSBP8WXqKhcQ/fh2gwSGrRz2Vggrq1sA/PUV7ZkmSSZdrq+fFzwL+/R+2u6IOO9fr5JkZjOfINNdk4bM4mkhnnjKzoWDybKJ5gxVlBiUpxrEz487E4IdOb1GPdf4sC3foFihCAjUaIIuWzxpVWGOb3FQjpdg3pQ2rvaXqJXXIgccNIOiYj2q6RP4fHpysgIbIS1ktBuIRzivXp6/qLbbTj+kzVQ9q4QrdnQbr0IHzWMS6W3wsNi5gwDSB+Rioxrm1Ws86wwUDAzJ1wccOxjg5me5DdhQmBdkTFtvcXADy+N+8YWHGgvxO0q8KL8dJEcGjVWCMCmbUspmLNQvzhWB8xvhKwYVCycW5NxxBiIZtZ50adKwR8NgW39E5v2QZS+9z6rNSTL/8OJ69tV6NqhBABy8yWsOCI0sMz5jzo4bZsEg=
    on_success: never
    on_failure: always
